.menu{
    
    background-color: #101010 !important;
}
.menu .logo{
    height: 70px;
    filter: brightness(0) invert(1);
}
.toolbar{
    display: flex;
    margin: 0 60px; 
    justify-content: space-between;
}