.cardGrid{
    justify-content: center;
}
.content{
    margin: 40px 0;
}
.card{
    width: 220px;
    height: 350px;
}
.cardMedia{
    width: 220px !important;
    height: 280px  !important;
   
}
.cardMedia img{
   object-fit: cover;
}
.movieDate{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    color: white;
    background-color: rgba(10,10,10, 0.4);
    font-size: 14px  !important;
    font-weight: bold !important;
}
.boxContent{
text-align: center;
align-items: center;
height: 70px;
font-size: 14px;
font-weight: bold;
background-color: rgba(10,10,10, 0.8)  !important;
color:white
}
.boxRate{
    font-size: small;
    font-weight: normal;
    display: inline-flex; 
}
.title{
    height: 55%;
    padding: 5px 0;
}
.skeletonTitle{
    height: 10px  !important;
    text-align: center !important;
    margin: 20px !important;
}
.skeletonBoxRate{
    align-items: center;
    display: flex ;
    justify-content: center;
}